.cart {
    position: absolute;
    right: 20px;
    top: 80px;
    z-index: 999;
    background-color: #f8f8f8;;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
 width: auto;
 min-height: 150px;
 max-height: 300px;
 min-width: 300px;
 max-width: 350px;
    overflow-y: scroll;
  
    h1 {
      margin-bottom: 30px;
      color: rgb(0, 0, 0);
      font-weight: 700;
      font-size: 24px;
    }
  
    .item {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 30px;
      position: relative;
      img {
        width: 80px;
        height: 100px;
        object-fit: cover;
        border-radius: 7px;
      }
  
      .details {
        h1 {
          font-size: 18px;
          font-weight: 500;
        }
  
        p {
          color: gray;
          margin-bottom: 10px;
          font-size: 14px;
        }
  
        .price {
          color: #808081;
        }
      }
  
      .delete {
        position: absolute;
        padding-left: 255px;
        padding-top: 50px;
        color: rgb(0, 0, 0);
        font-size: 25px;
        cursor: pointer;
      }
    }
  
    .total {
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      font-size: 18px;
      margin-bottom: 20px;
    }
  
    button {
      font-family: 'Space Grotesk', sans-serif;
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: medium;
      gap: 20px;
      cursor: pointer;
      border: none;
      background-color: #2e2e2e;
      color: white;
      font-weight: 400;
      margin-bottom: 20px;
      border-radius: 10px;
    }
  
    .reset{

      color:red;
      font-size: 12px;
      cursor: pointer;
    }
  }