.navbar{
     height: 70px;


     .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .item{
            display: flex;
            align-items: center;
            font-size: 18px;
        }
        .left{
            display: flex;
            align-items: center;
            gap: 25px;
        }
        .center{
            font-size: 40px;
            font-weight: 700;
        

        }

        .right{display: flex;
        align-items: center;
        gap: 25px;

            .icons{
                display: flex;
                gap: 15px;
                color: rgb(37, 37, 37);
                cursor:pointer;
                
            } .cartIcon{
                position: relative;
                span{
                    font-size: 12px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: rgb(10, 10, 10);
                    color: white;
                    position: absolute;
                    right: -10px;
                    top: -10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        
     }
}